# V1 Sample App - HuggingFace Models
# License Plate Detection & Text Extraction

torch==2.11.0
torchvision==0.26.0
transformers==5.3.0
ultralytics==8.4.29
opencv-python==4.13.0.92
Pillow==12.1.1
matplotlib==3.10.8
numpy==2.4.3
huggingface-hub==1.8.0
